<!DOCTYPE html>
<html>
  <head>
    <title>Ghimire Careers</title>
    {% include 'bootstrap.html'%}
  </head>
  <body>
    {% include 'nav.html' %}  
    {% include 'bannerImage.html' %}
    

    <div class="container">
      <h1 class="text-center mt-2 mb-4">Ghimire Careers</h1>
      <div class="row" style="margin-bottom:32px">
        <div class="col-md-6">
          <p class="lead">
            Ghimire Carrier has been at the forefront of logistics and transportation services in the region since its
            inception. With a fleet that spans across the latest in technology-driven vehicles, we ensure timely and safe
            deliv
            solutions that are both efficient and cost-effective.
          </p>
          <p class="lead">
            Our ethos is built on the foundation of trust and reliability, which is why we have a longstanding rapport
            with our clientele. We believe in fostering partnerships that go beyond mere business transactions. Ghimire
            Carrier is more than a service provider; we are your strategic ally in facilitating growth and expansion. Our
            dedicated team of experts works tirelessly to ensure that every consignment reaches its destination on schedule,
            every time. Embracing innovation, we continually evolve our services to address the dynamic demands of the
            market and set new industry standards.
          </p>
        </div>
        <div class="d-none d-md-block col-md-6">
          <img src="/static/tekimage.jpeg" style="height:320px;border-radius:4px;">
        </div>
      </div>
      <h2 class="text-center mt-2 mb-4">Our Positions</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobTitle.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
        <a class="btn btn-primary btn-lg" href="mailto:hello@jovian.ai?subject=Question%20about%20Job%20Openings&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20questions%3A%20%3Center%20question%20here%3E%0D%0A">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>