<!DOCTYPE html>
<html>
<head>
    <title>Ghimire Careers</title>
    {% include 'bootstrap.html'%}
</head>
<body>
  <div> 
    {% include 'nav.html' %}
    {% include 'bannerImage.html' %}  
    <h3>Title</h3>
    <p>{{ job.title }}</p>

    <h3>Location</h3>
    <p>{{ job.location }}</p>

    <h3>Salary</h3>
    <p>{{ job.currency }}{{ job.salary }}</p>

    <h3>Responsibilities</h3>
    <p>{{ job.responsibilities }}</p>

    <h3>Requirements</h3>
    <p>{{ job.requirements }}</p>
    {% include 'applicationForm.html'%}
  </div>
  {% include 'footer.html' %}
</body>
</html>
